*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 20px;
}
.nav-item a:hover{
    text-decoration: underline;
}
.join-for-free{
    display: flex;
}
.join-for-free img{
    width: 100%;

}
button{
    background-color: #349E85;
}
.b button{
    margin: 5px;
    border-radius: 50px;
}
.advance .btn{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

